/* Generic Styling */
*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding-left: 0;
}
footer{
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
}
footer a{
    text-decoration: none;
    color: #eee;
}
a:hover{
    text-decoration: underline;
}
.ft-title{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.375rem;
    flex-direction: column;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container{
    flex: 1;
}
/* Footer main */
.ft-main{
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (min-width:29.8215rem){
    .ft-main{
        justify-content: space-evenly;
    }
}
@media only screen and (min-width:77.5rem){
    .ft-main{
        justify-content: space-evenly;
    }
}
.ft-main-item{
    padding: 1.25rem;
    min-width: 12.5rem;
}
/* Newsletter Form */
form{
    display: flex;
    flex-wrap: wrap;
}
input[type="email"]{
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"]{
  border: 0;
  padding: 0.625rem 0.9375;
  margin-top: 0.3125rem;
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
}
/* footer Social */

.ft-social{
    padding: 01.875rem 1.25rem;

}
.ft-social-list{
    display: flex;
    justify-content: center;
    border-top: 1px rgb(74, 71, 71) solid;
    padding-top: 1.25rem;
}
.ft-social-list li{
      margin: 0.5;
      font-size: 1.25rem;
      color: #eee;
}

/* footer legal */

.ft-legal{
    padding: 0.9375rem 1.875rem;
    background-color: rgb(61, 8, 8);
}
.ft-legal-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li{
    margin: 0.125rem;
    white-space: nowrap;
}
.ft-legal-list li:nth-last-child(2){
    flex: 1;
}